    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Ordentlich</h2>
                <p><em>Ordentlich</em> is the terrific and neat theme for Ghost. It's free, responsive and ready to rumble!</p>
                <p>It's brought to you by <a href="http://happy-coding.com">HAPPY CODING</a></p>
                <p>See it live in action on for example pages like <a href="http://mag.codingwithpassion.com/" title="Coding With Passion Magazin" target="_blank">Coding w/ Passion Mag</a>.</p>
                <p>Ordentlich is heavily using Bourbon, Neat, Bitters and the nice flex boxes.</p>
            </div>
        </div>
    </section>