    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Install Ordentlich</h2>
                    <p>Build the theme using gulp as described on the official Github page.</p>
                    <a href="https://github.com/happy-coding/ordentlich" class="btn btn-default btn-lg">Visit Github page</a>
                </div>
            </div>
        </div>
    </section>