    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Ordentlich</h1>
                        <p class="intro-text">The terrific &amp; neat theme for the <a href="https://ghost.org/" target="_blank">Ghost</a> blogging platform.<br>Responsive and fresh.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>