<div class="post-boxes">
  {{#foreach posts}}

  <a href="{{url}}" class="post-box">
    <h1 class="post-title">{{{title}}}</h1>
    <p>{{excerpt words="26"}}</p>
  </a>
  {{/foreach}}
</div>

{{pagination}}