footer {
  &.main-footer {
    @include outer-container(90%);
    border-top: 1px solid $light-gray;
    padding-top: 2rem;
    margin-top: 4rem;
    font-size: 1.3rem;
    text-align: center;
    color: $medium-gray;
    .copyright {
      margin-bottom: 0.5rem;
    }
  }
}